{% extends "main/base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-lg-2">
            <!-- Пустой блок на усмотрение -->
        </div>
        <div class="col-lg-10">
            <!-- Контент на странице -->
            <div class="container mt-5">
                <div class="card mb-4 custom-shadow">
                    <div class="row">
                        <!-- Левая колонка с изображением -->
                        <div class="col-md-4">
                            <img src="{{product.image.url}}" class="img-thumbnail product-image w-100" style="max-height: 400px; object-fit: cover;" data-bs-toggle="modal" data-bs-target="#imageModal1">
                        </div>
            
                        <!-- Правая колонка с описанием и таблицей -->
                        <div class="col-md-8">
                            <div class="content-section">
                                <h5 class="product-title">{{product.name}}</h5>
                                <p class="card-text">Ціна: <strong>{{product.sell_price}} грн</strong></p>
                                <a href="{% url 'cart:cart_add' product.slug %}" class="btn btn-dark add-to-cart mt-3">Додати в корзину</a>
                                <p class="card-text mt-4" style="font-size: 1.1em; line-height: 1.5;">
                                    {{ product.description | linebreaksbr }}
                                </p>
                            </div>
                            <div class="product-characteristics mt-3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Підвой</th>
                                            <td>{{product.rootstock}}</td>
                                        </tr>
                                        <tr>
                                            <th>Терміни дозрівання</th>
                                            <td>{{product.ripening_period}}</td>
                                        </tr>
                                        <tr>
                                            <th>Маса плодів у грамах</th>
                                            <td>{{product.fruit_weight}}</td>
                                        </tr>
                                        <tr>
                                            <th>Опилювачі</th>
                                            <td>{{product.pollinators}}</td>
                                        </tr>
                                        <tr>
                                            <th>Морозостійкість</th>
                                            <td>{{product.frost_resistance}}</td>
                                        </tr>
                                        <tr>
                                            <th>Стійкість до захворювань</th>
                                            <td>{{product.disease_resistance}}</td>
                                        </tr>
                                        <tr>
                                            <th>Транспортабельність</th>
                                            <td>{{product.transportability}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                    
                    <!-- Увеличить изображение в модальном окне -->
                    <div class="modal fade" id="imageModal1" tabindex="-1" aria-labelledby="imageModal1Label" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModal1Label">{{product.name}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{product.image.url}}" class="img-fluid" alt="Изображение 1">
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- Закрытие card -->
            </div> <!-- Закрытие container -->
        </div>
    </div>
</div>


{% endblock %}